* {
    transition: all .3s ease-in-out
}

:root {
    --background: #d0e8ff;
    --theme-color: #ffb3b3;
    --text-color: #000;
    --card-background: #ffffff7d;
    --card-border-color: #fff;
    --techItem-background: #e5e5e5;
    --tip-color: #fff;
    --loading-background: var(--theme-color)
}

[theme=dark] {
    --background: #222222;
    --text-color: #fff;
    --card-background: #292929;
    --card-border-color: #444444;
    --techItem-background: transparent;
    --loading-background: #2b2b2b
}

.linkBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    height: 40px;
    border-radius: 16px;
    padding: .5rem .7rem;
    margin: .5rem 0;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    white-space: nowrap;
    color: #fff
}

.linkBtn span {
    margin-left: .5rem
}

.typewriter[data-v-a3b2cda1] {
    font-family: monospace;
    white-space: pre-wrap;
    overflow: hidden;
    text-align: center;
    font-size: 18px
}

.cursor[data-v-a3b2cda1] {
    font-weight: bolder;
    margin-left: 2px;
    opacity: 1;
    transition: opacity .1s
}

.cursor.blink[data-v-a3b2cda1] {
    opacity: 0
}

.mainCard {
    color: var(--text-color)
}

.mainCard .header {
    display: flex;
    align-items: center
}

.mainCard .header .avatar {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    border: .5rem solid var(--card-border-color);
    margin-right: 1rem;
    position: relative
}

.mainCard .header .avatar img {
    border-radius: 50%
}

.mainCard .header .avatar:before {
    content: attr(emjoi);
    position: absolute;
    bottom: 0;
    right: 0;
    background: var(--card-border-color);
    border-radius: 50%;
    border: .3rem solid var(--card-border-color)
}

.mainCard .header .sayHi {
    display: flex;
    flex-direction: column
}

.mainCard .header .sayHi h1 {
    font-size: 2.5rem;
    margin: 0 0 .5rem
}

.mainCard .header .sayHi .name {
    position: relative;
    color: #0000001a
}

.mainCard .header .sayHi .name:before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    color: var(--theme-color);
    width: 0;
    white-space: nowrap;
    filter: drop-shadow(0 0 5px var(--theme-color));
    overflow: hidden;
    animation: showName 3s ease-in-out infinite;
    border-right: 4px solid var(--theme-color);
    z-index: 10
}

.mainCard .header .sayHi .infoTags {
    display: flex;
    margin-top: 1rem
}

.mainCard .header .sayHi .infoTags .tag {
    cursor: default;
    padding: .4rem;
    margin-right: .4rem;
    background: var(--card-background);
    border-radius: 8px;
    font-size: .9rem
}

.mainCard .header .sayHi .infoTags .tag .boy {
    color: #33a9dc
}

.mainCard .header .sayHi .infoTags .tag .girl {
    color: #ff5e7e
}

.mainCard .content {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem
}

.mainCard .content .leftBox {
    width: 30%
}

.mainCard .content .leftBox .todoList {
    margin-top: .5rem;
    height: 9rem;
    overflow-y: auto
}

.mainCard .content .leftBox .todoList::-webkit-scrollbar {
    width: .3rem
}

.mainCard .content .leftBox .todoList::-webkit-scrollbar-track {
    background: transparent
}

.mainCard .content .leftBox .todoList::-webkit-scrollbar-thumb {
    background: #87ceeb4d;
    border-radius: 3px
}

.mainCard .content .leftBox .todoList:hover::-webkit-scrollbar {
    width: .5rem
}

.mainCard .content .leftBox .todoList:hover::-webkit-scrollbar-thumb {
    background: var(--theme-color);
    border-radius: 6px
}

.mainCard .content .leftBox .todoList .todoItem {
    display: flex;
    align-items: center;
    margin: .8rem 0;
    padding-bottom: .2rem;
    border-bottom: 2px var(--text-color) dashed
}

.mainCard .content .leftBox .todoList .todoItem span {
    margin-left: .5rem
}

.mainCard .content .rightBox {
    width: 69%
}

.mainCard .content .rightBox .linkBox {
    margin: .5rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center
}

.mainCard .content .rightBox .linkBox a:before {
    display: none
}

.mainCard .content .rightBox .zodiac:before {
    background: #bc8cff
}

.mainCard .content .rightBox .techStack {
    display: flex;
    flex-wrap: wrap
}

.mainCard .content .rightBox .techStack .techItem {
    width: 48px;
    height: 48px;
    border-radius: 12px;
    background-color: var(--techItem-background);
    border: 2px solid var(--card-border-color);
    position: relative;
    margin: 0 .2rem .2rem;
    display: flex;
    align-items: center;
    justify-content: center
}

.mainCard .content .rightBox .techStack .techItem:before {
    content: attr(data-name);
    position: absolute;
    top: -1.5rem;
    left: 50%;
    color: var(--tip-color);
    font-size: 14px;
    background: #2d2d2d;
    width: max-content;
    padding: 0 5px;
    text-align: center;
    border-radius: 5px;
    transition: .3s ease-in-out;
    transform: translate(-50%, 20px);
    opacity: 0
}

.mainCard .content .rightBox .techStack .techItem:hover:before {
    transform: translate(-50%);
    opacity: 1
}

.mainCard .content .rightBox .typew {
    display: flex;
    justify-content: center;
    margin: 1.5rem 0
}

.mainCard .content .rightBox .typew svg {
    margin: 0 .5rem
}

.mainCard .card {
    background: var(--card-background);
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 16px;
    border: 3px solid var(--card-border-color)
}

.mainCard .card .cardHeader {
    font-size: 18px;
    font-weight: bolder;
    margin-bottom: .5rem
}

.mainCard .hover {
    transition: all .3s ease-in-out
}

.mainCard .hover:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px #0003
}

.mainCard .time-progress h3 {
    margin-top: 0;
    margin-bottom: 1rem
}

.mainCard .time-progress .progress-item {
    margin-bottom: 1rem
}

.mainCard .time-progress .progress-item:last-child {
    margin-bottom: 0
}

.mainCard .time-progress .progress-item p {
    margin: 0 0 .5rem;
    font-size: .9rem
}

.mainCard .time-progress .progress-item .progress-bar {
    height: 5px;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden
}

.mainCard .time-progress .progress-item .progress-bar .progress-fill {
    height: 100%;
    background-color: var(--theme-color);
    border-radius: 5px;
    transition: width .3s ease
}

.mainCard .footer {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%)
}

@keyframes showName {
    0% {
        width: 0
    }

    50% {
        width: 105%
    }

    to {
        width: 0
    }
}

@media (max-width: 768px) {
    .mainCard {
        padding-bottom: 3rem
    }

    .mainCard .header .avatar {
        width: 6rem;
        height: 6rem;
        border-width: .4rem
    }

    .mainCard .header .sayHi h1 {
        font-size: 2.2rem
    }

    .mainCard .content {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between
    }

    .mainCard .content .leftBox,
    .mainCard .content .rightBox {
        width: 100%
    }

    :is(.mainCard .content .leftBox, .mainCard .content .rightBox) .linkBox {
        grid-template-columns: repeat(2, 1fr);
        justify-items: stretch
    }

    :is(.mainCard .content .leftBox, .mainCard .content .rightBox) .linkBox .linkBtn {
        width: 40%
    }
}

.loadBox[data-v-e3be3717] {
    width: 100%;
    height: 100%;
    background: var(--loading-background);
    position: absolute;
    z-index: 100;
    overflow: hidden
}

#loader[data-v-e3be3717] {
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px)
}

@keyframes loader-e3be3717 {
    0% {
        left: -100px
    }

    to {
        left: 110%
    }
}

#box[data-v-e3be3717] {
    width: 50px;
    height: 50px;
    background: #fff;
    animation: animate-e3be3717 .5s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px
}

@keyframes animate-e3be3717 {
    17% {
        border-bottom-right-radius: 3px
    }

    25% {
        transform: translateY(9px) rotate(22.5deg)
    }

    50% {
        transform: translateY(18px) scaleY(.9) rotate(45deg);
        border-bottom-right-radius: 40px
    }

    75% {
        transform: translateY(9px) rotate(67.5deg)
    }

    to {
        transform: translateY(0) rotate(90deg)
    }
}

#shadow[data-v-e3be3717] {
    width: 50px;
    height: 5px;
    background: #000;
    opacity: .1;
    position: absolute;
    top: 59px;
    left: 0;
    border-radius: 50%;
    animation: shadow-e3be3717 .5s linear infinite
}

@keyframes shadow-e3be3717 {
    50% {
        transform: scaleX(1.2)
    }
}

main {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 5rem 0 3rem
}

body {
    background: var(--background);
    padding: 0;
    margin: 0;
    min-height: 100vh;
    position: relative;
    transition: background 0s
}

img {
    width: 100%;
    height: 100%
}

b {
    display: inline-block;
    position: relative;
    margin: 0 .2rem;
    text-align: center;
    z-index: 1
}

b:before {
    content: "";
    position: absolute;
    bottom: 0;
    z-index: -1;
    opacity: .8;
    border-radius: 4px;
    width: 100%;
    height: 30%;
    background: var(--theme-color);
    transition: .3s ease-in-out
}

b:hover:before {
    height: 70%
}

a {
    text-decoration: none;
    position: relative;
    color: var(--theme-color);
    transition: .3s ease-in-out;
    padding: 0 .3rem
}

a:hover {
    color: #fff
}

a:hover:before {
    height: 100%
}

a:before {
    content: "";
    transition: .3s ease-in-out;
    border-radius: 5px;
    z-index: -1;
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 0;
    width: 100%;
    height: 2px;
    background: var(--theme-color)
}

.reThemeBtn {
    width: 1rem;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--card-background);
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 16px;
    border: 3px solid var(--card-border-color);
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    transition: .3s ease-in-out
}

.reThemeBtn:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 10px #0003
}

#app {
    min-height: 100vh
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .3s ease
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0
}